* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-green: #54E6AF;
    --navy-blue: #2C344B;
    --blackish: #121725;
    --white: #FFFFFF;
    --grayish: #5A668A;
    --gray: #C2CBE5;
}

body {
    background-color: var(--blackish);
    font-family: 'Chivo', sans-serif;
}

.container {
    margin-top: 130px;
    margin-bottom: 130px;
    background-image: url(./starter-code/assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 40rem;
}

    .left {
        height: 100%;
        max-width: 723px;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }

    .logo {
        display: flex;
        justify-content: space-evenly;
        margin-top: -2%;
    }

    .form {
        height: auto;
        padding-top: 88px;
        padding-right: 58px;
        background-color: var(--blackish);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .title {
            color: var(--light-green);
            font-size: 52px;
            line-height: 62px;
            margin-bottom: 24px;
            max-width: 665px;
        }
        .description {
            color: var(--gray);
            font-size: 18px;
            line-height: 28px;
            max-width: 445px;
            margin-bottom: 24px;
        }
        .input {
            background-color: var(--grayish);
            margin-bottom: 64px;
            display: flex;
            justify-content: space-between;
            border-radius: 28px;
            max-width: 427px;
        }
        .input .req {
            background-color: var(--light-green);
            color: var(--navy-blue);
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 27px;
            padding-right: 27px;
            font-family: 'Chivo', sans-serif;
        }
            .input button:hover {
                background-color: #B3FFE2;
            }
        .input .email {
            padding-left: 32px;
            padding-top: 14px;
            padding-bottom: 14px;
        }
        .input .email::placeholder {
            font-family: 'Chivo', sans-serif;
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
        }

        .message {
            color: #FB3E3E;
            margin-top: -5%;
            visibility: hidden;
            min-height: 30px;
        }
        .message_show {
            visibility: visible;
            color: #FB3E3E;
            min-height: 30px;
        }
        

input {
    border: none;
    border-radius: 28px;
    padding: 10px;
    background-color: var(--grayish);
}
button {
    border: none;
    border-radius: 28px;
    padding: 10px;
    background-color: var(--grayish);
    color: white;
    cursor: pointer;
}
.right img {
    margin-bottom: -23%;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 536px;
}

@media screen and (max-width: 1100px) {
    .container {
        background-image: url(./starter-code/assets/tablet/image-host.jpg);
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 40rem;
    }
    .left {
        margin-left: 39px;
        max-width: 635px;
        margin: 0;
    }
    .right img {
        position: absolute;
        left: 2em;
        margin-top: 10rem;
    }

    .logo {
        margin-left: 30px;
        margin-top: 50px;
    }
    .form {
        height: auto;
        max-width: 635px;
        margin-left: 30px;
    }
        .description {
            max-width: 445px;
        }
        .input {
            max-width: 427px;
        }
        .logos {
            max-width: 536px;
        }
}

@media screen and (max-width: 767px) {
    .container {
        background-image: linear-gradient(hsla(224, 35%, 11%, 0.85), hsla(224, 35%, 11%, 0.85)), url(./starter-code/assets/mobile/image-host.jpg);
        margin: 0;
        background-size: cover;
        height: 100vh;
    }
    .right {
        display: none;
    }

    .logo {
        margin-top: 62px;
        margin-bottom: 57px;
    }

    .left {
        height: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        max-width: 327px;
        margin: 0 auto;
    }
    .form {
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        padding-top: 0;
        padding-right: 0;
        margin-left: 24px;
        margin-right: 24px;
    }
    .title {
        order: 1;
        text-align: center;
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 16px;
    }
    .description {
        order: 2;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 33px;
    }
    .logos {
        order: 3;
        margin-bottom: 48px;
        max-width: 315px;
    }
    .logos img {
        max-width: 20%;
    }
    .input {
        order: 4;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        width: 100%;
    }
        .input .email {
            width: 100%;
            margin-bottom: 16px;
        }
        .input .req {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
}